.custom-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.05);
    color: #000;
    padding: 3px 8px;
    list-style: none;
}

.attribute-wrapper {
    column-count: 3;
}

.attribute-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.attribute-name, .attribute-value, .attribute-label {
    margin: 0;
}

.attribute-value-single {
    margin: 0 5px;
}

.attribute-value-single:not(:last-child)::after {
    content: ",";
}

.attribute-value-wrapper, .attribute-list-item {
    display: flex;
}

li.attribute-list-item {
    flex-direction: column;
    align-content: center;
    margin: unset!important;
    font-size: 12px;
}

@media only screen and (max-width: 850px ) {
    .attribute-wrapper {
        column-count: 2;
    }
    .attribute-value, .attribute-label {
        font-size: 10px;
    }
}

@media only screen and (max-width: 550px ) {
    .attribute-wrapper {
        column-count: 1;
    }
}
